.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
}

.courseIcon {
    width: 3vw;
    height: 3vw;
}

.detailsButton {
    text-decoration: none;
    color: white;
}

.detailsButton:hover {
    color: #ffe082;
    transition: color 0.3s ease;
}
