.sidebar {
    left: 0;
    height: 100vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    background-color: var(--background-accent);
    gap: 1rem;
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ffe082;
    transition: color 0.3s ease;
}