#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

h1 {
    margin: 0;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.profile-picture {
    object-fit: contain;
    width: 300px;
    border-radius: 50%;
}

.card {
  padding: 2em;
}

.courses-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
